:root{
    --main-color:#eee;
    --second-color:white;
    --space : 10px;
}

*{
    padding:0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: sans-serif;
    box-sizing: border-box;
    text-transform: capitalize;
}
.vider{
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    margin-block: var(--space);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
}
.img{
    position: absolute;
    top: -110px;
    left: 50%;
    transform: translateX(-50%);
}
.app {
    padding: 20px;
    width: 380px;
    text-align: center;
    background-color: var(--second-color);
    border-radius: calc(var(--space) / 2);
    position: relative;
}
.app .title{
    padding-block: var(--space);
}
.app .title .my-name{
    font-size: 26px;
    color: #3B74BA;
}
.app .title .my-job{
    opacity: .7;
}
.app .link li{
    display: flex;
    justify-content: space-between;
    padding: var(--space);    
    background-color: #eee;
    margin-bottom: var(--space);
}
.app .link li a{
    color: black;
}